@import './base.css';

#app {
  margin: 0 auto 48px;
  padding: 0 0 16px;
  font-weight: normal;
  font-size: 12px;
  width: 100vw;
  max-width: 960px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

th {
  background: var(--vt-c-black-mute);
  color: var(--vt-c-white-mute);
  vertical-align: middle;
  padding: 8px 12px;
}

svg {
  fill: #687;
}

svg:hover {
  fill: #075;
}
